%head
  = csrf_meta_tags

-#%table
-#  - @prices_array.each do |item_price|
-#    %tr
-#      %td=item_price[:eve_item]
-#      %td=item_price[:benef]

#screenshots_link_div
  = link_to( ">> Screenshots <<", screenshots_sessions_path, id: :screenshots_link )

#login_area
  -# = "Monitor the potential benefit of #{@eve_items_count} items in #{@trade_hubs_count} trade hubs"
  = form_tag "/auth/identity/callback" do
    %table.sign_in_table
      %tr
        %td
          = link_to "/auth/facebook", id: "sign_in" do
            %span#facebook_icon
            %span
              Sign up using Facebook
      %tr
        %td
          %span.or_separator
            Or
      %tr
        %td
          = link_to :new_identity, class: :sign_in_class do
            %span
            %span
              Create credentials
      %tr
        %td
          %span.or_separator
            Or
      %tr
        %td
          -flash.each do |flash|
            %h2=flash.last
      %tr
        %td
          %span.sign_in_class
            %span
              = label_tag :auth_key, 'Email:'
            %span.credential_span_input_class
              = text_field_tag :auth_key, nil, class: :credential_input_class
      %tr
        %td
          %span.sign_in_class
            %span
              = label_tag :password, 'Password:'
            %span.credential_span_input_class
              = password_field_tag :password, nil, class: :credential_input_class
      %tr
        %td{ colspan: 2 }
          .log_in_span_input_class
            = submit_tag 'Log in'
