%head
  = csrf_meta_tags

-#%table
-#  - @prices_array.each do |item_price|
-#    %tr
-#      %td=item_price[:eve_item]
-#      %td=item_price[:benef]

#icons_area
  .icons_overbox
    = inline_svg( 'front_pictures/svg/delivery36.svg', class: :icons_box )
    .icon_legend
      Choose an item

  .icons_overbox
    = inline_svg( 'front_pictures/svg/facebook30.svg', class: :icons_box )
    .icon_legend
      Choose a place

  .icons_overbox
    = inline_svg( 'front_pictures/svg/seo15.svg', class: :icons_box )
    .icon_legend
      Get the benefits

-# TODO : add : 'Choose an item', 'Choose a place', 'Watch the benefits'

#login_area
  -# = "Monitor the potential benefit of #{@eve_items_count} items in #{@trade_hubs_count} trade hubs"
  = form_tag "/auth/identity/callback" do
    %table.sign_in_table
      %tr
        %td
          %span.sign_in_class
            = link_to "/auth/facebook", id: "sign_in" do
              %span#facebook_icon
              %span
                Sign up using Facebook
      %tr
        %td
          %span.or_separator
            Or
      %tr
        %td
          %span.sign_in_class
            = link_to :new_identity do
              %span
              %span
                Create credentials
      %tr
        %td
          %span.or_separator
            Or
      %tr
        %td
          -flash.each do |flash|
            %h2=flash.last
      %tr
        %td
          %span.sign_in_class
            %span
              = label_tag :auth_key, 'Email:'
            %span.credential_span_input_class
              = text_field_tag :auth_key, nil, class: :credential_input_class
      %tr
        %td
          %span.sign_in_class
            %span
              = label_tag :password, 'Password:'
            %span.credential_span_input_class
              = password_field_tag :password, nil, class: :credential_input_class
      %tr
        %td{ colspan: 2 }
          = submit_tag 'Log in', class: :log_in_span_input_class
