%head
  = csrf_meta_tags

-flash.each do |flash|
  %h2=flash

-# TODO : il y a plusieurs id sign in. Pas bien
#login_area
  = form_tag "/auth/identity/callback" do
    %table.sign_in_table
      %tr
        %td
          = link_to "/auth/facebook", id: "sign_in" do
            %span#facebook_icon
            %span
              Sign up using Facebook
      %tr
        %td
          %span.or_separator
            Or
      %tr
        %td
          = link_to :new_identity, class: :sign_in_class do
            %span
            %span
              Create credentials
      %tr
        %td
          %span.or_separator
            Or
      %tr
        %td
          %span.sign_in_class
            %span.sign_in_label
              = label_tag :auth_key, 'Email:'
            %span.sign_in_input
              = text_field_tag :auth_key, nil, class: :input_class
      %tr
        %td
          %span.sign_in_class
            %span.sign_in_label
              = label_tag :password, 'Password:'
            %span.sign_in_input
              = password_field_tag :password, nil, class: :input_class
      %tr
        %td= submit_tag 'Sign in', style: { text_align: :center }
