.container
  %h3
    Informations for
    = link_to( @component.name, "http://games.chruker.dk/eve_online/item.php?type_id=#{@component.cpp_eve_item_id}", :target => '_blank' )
    - if @crafted_component
      \-
      = link_to( print_total_cost_for_items( @crafted_component ), item_cost_path( @crafted_component.id ) )
      \-
      = link_to( 'Market data' , item_path( @crafted_component.id ) )

  %table.table.table-bordered.sortable
    %thead
      %tr
        %th Trade hub
        %th.text-center Current min price
        %th.text-center Available volume

    %tbody
      - @min_prices.each_with_index do | mp |

        %tr
          %td= trade_hub_name_with_region( mp.trade_hub )

          %td.text-right
            = link_to( print_isk( mp.price ), component_trade_hub_detail_path( mp.blueprint_component_id, trade_hub_id: mp.trade_hub_id ) )
          %td.text-right
            = print_volume( mp.volume )