.container

  .my-4
    - if @user.download_assets_running
      Blueprints download is running. Please refresh in a while ...
    - else
      - if @data_available_in > 0
        = "Data cached. New data available in #{Time.at(@data_available_in).strftime('%Mm %Ss')}."
      - else
        = link_to 'Update blueprints', my_assets_path, method: :put, class: 'btn btn-secondary'

  %table.table.table-hover.table-sm
    %thead
      %tr
        %th Blueprint name
        %th.text-center Modifications value

    %tbody
      - @blueprint_modifications.each do |blueprint_modification|
        %tr
          %td.text-left= blueprint_modification.blueprint.name
          %td.text-center= "%0.2f" % [blueprint_modification.percent_modification_value]

  = will_paginate @blueprint_modifications