%h3.my-3
  = @item.base_item ? 'Sales details included in price computation for ' : 'Weekly price detail for '
  = link_to( @item.name, item_path( @item ) )
  = print_total_cost_for_items( @item )

%table.table.my-3
  %thead
    %tr
      %th.text-center Day
      %th.text-right Weighted avg price
      %th.text-right Total volume

  %tbody
    - @dailies_details.each do |sfd|
      %tr
        %td.text-center
          = sfd.day
        %td.text-right
          = print_isk sfd.weighted_avg_price
        %td.text-right
          = print_volume sfd.volume.round

= will_paginate @dailies_details