= form_tag production_lists_path, method: :patch do

  - @total_jobs = 0

  %table.table.table-hover
    %thead
      %tr
        - unless @shared_production_list
          %th
        %th Trade hub
        %th Item
        -#%th.text-right Volume
        -#%th.text-right Cost
        -#%th.text-right Price
        -#%th.text-right Margin
        -#%th.text-right Advised quantity
        %th.text-center Nb runs
        %th.text-right Quantity to produce
        %th.text-center Jobs count
    %tbody
      - @basket_datas.each do |basket|
        %tr{ class: cycle( :odd, :even ) }
          - unless @shared_production_list
            %td= production_list_check_box( basket, delete_on_change: true, force_checked: true  )

          %td= trade_hub_name_with_region( basket.trade_hub )

          %td= link_to( basket.eve_item.name, item_path( basket.eve_item_id ) )
          -#%td.text-right=print_volume(basket['vol_month'])
          -#%td.text-right=print_isk(basket['single_unit_cost'])
          -#%td.text-right=print_isk(basket['min_price'])
          -#%td.text-right=print_pcent( basket['margin_percent'] )
          -#%td.text-right=print_volume( basket['batch_size_formula']&.round )

          %td.text-center=number_field_tag( "runs_count[#{basket.id}]", basket.runs_count, max: basket.eve_item.blueprint.nb_runs )

          %td.text-right=print_volume basket.runs_count ? basket.runs_count*basket.eve_item.blueprint.prod_qtt : nil

          -#- jobs_amount = ( basket[:quantity_to_produce].to_f / basket['full_batch_size'] ).ceil if basket[:quantity_to_produce] && basket['full_batch_size']
          - jobs_amount = basket[:runs_count] && basket[:runs_count] > 0 ? 1 : 0
          - @total_jobs += jobs_amount if jobs_amount

          %td.text-center= jobs_amount

      %tr
        %td.text-left{ colspan: 5 }
          %b
            Total jobs

        %td.text-center
          %b
            = @total_jobs


      = will_paginate @basket_datas

  .row
    .col-md-12.text-right
      .actions
        = submit_tag 'Save', class: 'btn btn-secondary'