= form_for @user do |f|
  - if flash.alert && flash.alert.any?
    %div.bg-danger.save_message_box_failure
      = "#{pluralize(flash.alert.count, "error")} prohibited this password from being changed:"
      %ul
        - flash.alert.each do |msg|
          %li= msg.join( ' : ' )
  - elsif flash.notice
    %p.bg-success.save_message_box_success= flash.notice

  .row
    .col-md-9
      .form-group
        = f.label :name
        = f.text_field :name, class: 'form-control'
      .form-group
        = f.label :key_user_id
        = f.text_field :key_user_id, class: 'form-control'
      .form-group
        = f.label :api_key
        = f.text_field :api_key, size: 60, class: 'form-control'

    .col-md-3
      .form-group
        = f.label :min_pcent_for_advice
        = f.text_field :min_pcent_for_advice, size: 5, class: 'form-control'
      .form-group
        = f.label :min_amount_for_advice
        = f.text_field( :min_amount_for_advice, size: 30, value: number_with_delimiter( f.object.min_amount_for_advice, delimiter: ' ' ), class: 'form-control' )

      .form-group
        = f.check_box :remove_occuped_places
        = f.label :remove_occuped_places

      .form-group
        = f.check_box :watch_my_prices
        = f.label :watch_my_prices

  .row
    .col-md-12.text-center
      .actions
        = f.submit 'Save', class: 'btn btn-default'

%hr

- unless @user.api_key_errors.empty?
  %table.table
    %thead
      %tr.danger
        %th= 'Last 5 API errors'
        %th= 'Date'
    %tbody
      - @user.api_key_errors.order( 'created_at DESC' ).limit( 5 ).each do |error|
        %tr.danger
          %td= error.user_message
          %td= error.created_at



