= form_for @user do |f|
  - if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg

  %table
    %tr
      %td= f.label :name
      %td= f.text_field :name
    %tr
      %td= f.label :remove_occuped_places
      %td= f.check_box :remove_occuped_places
    %tr
      %td= f.label :watch_my_prices
      %td= f.check_box :watch_my_prices
    %tr
      %td= f.label :min_pcent_for_advice
      %td= f.text_field :min_pcent_for_advice, size: 5
    %tr
      %td= f.label :key_user_id
      %td= f.text_field :key_user_id
    %tr
      %td= f.label :api_key
      %td= f.text_field :api_key, size: 60
  .actions
    = f.submit 'Save'
