.container
  %h3 Editing user

  = form_for @user, :url => users_path do |f|

    .row

      .col-md-3
        .form-group
          = f.label :min_pcent_for_advice
          = f.text_field :min_pcent_for_advice, size: 5, class: 'form-control'
        .form-group
          = f.label :min_amount_for_advice
          = f.text_field( :min_amount_for_advice, size: 30, value: number_with_delimiter( f.object.min_amount_for_advice, delimiter: ' ' ), class: 'form-control' )

    .row
      .col-md-4
        .form-group
          = f.label :vol_month_pcent
          = f.number_field :vol_month_pcent

      .col-md-4
        .form-group
          = f.check_box :batch_cap
          = f.label :batch_cap

      .col-md-4
        .form-group
          = f.label :batch_cap_multiplier
          = f.number_field :batch_cap_multiplier

    %hr

      .form-group
        = f.label :remove_occuped_places
        = check_box_tag :test, 1, false, 'data-toggle' => 'toggle', class: 'toggle'

    .row
      .col-md-12.text-center
        .actions
          = f.submit 'Save', class: 'btn btn-default'
