.container

  = form_tag change_password_users_path do

    = render partial: 'shared/errors'

    .row
      .col-md-4
      .col-md-4
        %h3 Change password
        %br
        .form-group
          = label_tag :new_password
          = password_field_tag :new_password, nil, class: 'form-control'
        .form-group
          = label_tag :new_password_confirmation
          = password_field_tag :new_password_confirmation, nil, class: 'form-control'

        .actions
          = submit_tag 'Save', class: 'btn btn-default'
