#selection_div

  = form_tag user_change_password_path( :dummy ) do
    - if flash[:errors] && flash[:errors].any?
      #error_explanation
        %h2= "#{pluralize(flash[:errors].count, "error")} prohibited this password from being changed:"
        %ul
          - flash[:errors].each do |msg|
            %li= msg.join( ' : ' )
    - else
      #success_message
        %h2= 'Password changed successfuly'

    %table
      %tr
        %td= label_tag :new_password
        %td= password_field_tag :new_password
      %tr
        %td= label_tag :new_password_confirmation
        %td= password_field_tag :new_password_confirmation

    .actions
      = submit_tag 'Save', class: :submit_button_style
