.container

  = form_tag user_change_password_path( :dummy ) do
    - if flash.alert && flash.alert.any?
      %div.bg-danger.save_message_box_failure
        = "#{pluralize(flash.alert.count, "error")} prohibited this password from being changed:"
        %ul
          - flash.alert.each do |msg|
            %li= msg.join( ' : ' )
    - elsif flash.notice
      %p.bg-success.save_message_box_success= flash.notice

    .row
      .col-md-4
      .col-md-4
        %h3 Change password
        %br
        .form-group
          = label_tag :new_password
          = password_field_tag :new_password, nil, class: 'form-control'
        .form-group
          = label_tag :new_password_confirmation
          = password_field_tag :new_password_confirmation, nil, class: 'form-control'

        .actions
          = submit_tag 'Save', class: 'btn btn-default'
