%p#notice= notice

%p
  %b Edit:
  = @user.edit
%p
  %b Name:
  = @user.name
%p
  %b Remove occuped places:
  = @user.remove_occuped_places
%p
  %b Key user:
  = @user.key_user_id
%p
  %b Api key:
  = @user.api_key

= link_to 'Edit', edit_user_path(@user)
\|
= link_to 'Back', users_path
