.container-fluid

  - if @trade_hubs_names && @item_names
    .row
      .col-md-4
        = label_tag 'select_trade_hubs', 'Trade hubs'
        = select( 'select', 'trade_hubs', trade_hubs_or_regions( margin_type ), {include_blank: 'All'}, class: 'form-control' )
        = label_tag 'select_items', 'Items'
        = select( 'select', 'items', @item_names, {include_blank: 'All'}, class: 'form-control' )

  .row
    .col-md-12
      %h3= "Price advices : #{margin_type}"

      %table.table
        %tr
          %th
          %th
            - if margin_type == :monthly
              Region
            - else
              Trade hub
          %th Item
          %th.text-right{ 'data-toggle' => 'tooltip', title: t( 'price_advices.advice_prices_monthly.tooltip.volume' ) }
            Volume
            %i.glyphicon.glyphicon-question-sign
          %th.text-right{ 'data-toggle' => 'tooltip', title: t( 'price_advices.advice_prices_monthly.tooltip.cost' ) }
            Cost
            %i.glyphicon.glyphicon-question-sign

          %th.text-right{ 'data-toggle' => 'tooltip', title: tooltip_price( margin_type ) }
            Price
            %i.glyphicon.glyphicon-question-sign
          %th.text-center{ colspan: 3, 'data-toggle' => 'tooltip', title: t( 'price_advices.advice_prices_monthly.tooltip.margin') }
            Margin
            %i.glyphicon.glyphicon-question-sign
          - if margin_type == :daily
            %th.text-right{ 'data-toggle' => 'tooltip', title: t( 'price_advices.advice_prices.tooltip.daily_monthly' ) }
              Daily/monthly
              %i.glyphicon.glyphicon-question-sign

        - @items.each do |item|
          %tr{ class: cycle( :active, nil ) }
            -# %td=check_box_tag :eve_item, [@user.id, item[:trade_hub_id], item[:eve_item_id]].join( '|' ), nil, class: :shopping_basket_checkbox
            - region_name = item.region ? item.region.name : ''
            %td= production_list_check_box( item )
            - if margin_type == :monthly
              %td.trade_hub_name=item.region.name
            - else
              %td.trade_hub_name=item.trade_hub.name + " (#{item.region.name})"

            %td.item_name= link_to( item.eve_item.name, item_path( item.eve_item_id ) )
            %td.text-right.information_highlight_left=print_volume(item.vol_month)
            %td.text-right.information_highlight_left= link_to( print_isk(item.single_unit_cost), item_cost_path( item.eve_item_id ), target: '_blank' )

            - price, batch, margin, _ = price_n_margin( margin_type, item )

            %td.text-right.information_highlight_left= eve_central_quicklook_link( margin_type, price, item )
            %td.text-right.information_highlight_right=print_pcent_nomultiply( item.margin_percent )
            %td.text-right.information_highlight_right=print_isk( margin )
            %td.text-right.information_highlight_right=print_volume( batch )

            - if margin_type == :daily
              %td.text-right.information_highlight_left=print_pcent( item.daily_monthly_pcent )

  = will_paginate @items