- if @trade_hubs_names && @item_names
  .row
    .col-md-4
      = label_tag 'select_trade_hubs', 'Trade hubs'
      = select( 'select', 'trade_hubs', @trade_hubs_names, {include_blank: 'All'}, class: 'form-control' )
      = label_tag 'select_items', 'Items'
      = select( 'select', 'items', @item_names, {include_blank: 'All'}, class: 'form-control' )

.row
  .col-md-12
    %h3= "Price advices : #{margin_type}"

    %table.table.table-bordered
      %tr
        %th
        %th
          - if margin_type == :monthly
            Region
          - else
            Trade hub
        %th Item
        %th.text-right Volume
        %th.text-right Cost
        %th.text-right Price
        %th.text-center{ colspan: 3 } Margin
        - if margin_type == :daily
          %th.text-right Daily/monthly

      - @prices_array.each do |item|
        %tr{ class: cycle( :active, nil ) }
          -# %td=check_box_tag :eve_item, [@user.id, item[:trade_hub_id], item[:eve_item_id]].join( '|' ), nil, class: :shopping_basket_checkbox
          %td= shopping_basket_check_box( item )
          - if margin_type == :monthly
            %td.trade_hub_name=item[:region_name]
          - else
            %td.trade_hub_name=item[:trade_hub]
          %td.item_name= link_to( item[:eve_item], item_path( item[:eve_item_id] ) )
          %td.text-right.information_highlight_left=print_volume(item[:monthly_amount])
          %td.text-right.information_highlight_left= link_to( print_isk(item[:cost]), item_cost_path( item[:id] ), target: '_blank' )
          %td.text-right.information_highlight_left= link_to( print_isk(item[:price]), "https://eve-central.com/home/quicklook.html?typeid=#{item[:cpp_eve_item_id]}&usesystem=#{item[:cpp_system_id]}", target: '_blank' )
          %td.text-right.information_highlight_right=print_pcent(item[:benef_pcent])
          %td.text-right.information_highlight_right=print_isk(item[:benef])
          %td.text-right.information_highlight_right=item[:batch_size]
          - if margin_type == :daily
            %td.text-right.information_highlight_left=print_pcent( item[:daily_monthly_diff] )