-##print_change_warning
-#  = @print_change_warning

.order_advice_containers

  - if @trade_hubs_names && @item_names
    Trade hubs
    = select( 'select', 'trade_hubs', @trade_hubs_names, {include_blank: 'All'} )
    %br
    Items
    = select( 'select', 'items', @item_names, {include_blank: 'All'} )

  %h2
    My orders status
  %table
    %tr
      %th Trade hub
      %th Item
      %th Cost
      %th Min price
      %th Min price margin
      %th My price
      %th Diff
      %th{ colspan: 2 }
    - @compared_prices.each do |cp|
      %tr{ class: cycle( :odd, :even ) }
        %td.trade_hub_name=cp[:trade_hub_name]
        %td.item_name= link_to( cp[:eve_item_name], price_advices_show_item_detail_path( cp[:eve_item_id] ) )
        %td.cell_right_align=print_isk( cp[:cost] )
        %td.cell_right_align=print_isk( cp[:min_price] )
        %td.cell_right_align=print_pcent( cp[:margin_pcent] )
        %td.cell_right_align=print_isk( cp[:my_price] )
        %td.cell_right_align
          = print_isk( ( cp[:min_price] - cp[:my_price] ) ) if cp[:min_price] && cp[:my_price] && cp[:min_price].class != String
        %td
          %button{ onclick: "CCPEVE.showMarketDetails(#{cp[:eve_item_cpp_id]})" }
            Show Market Details
        %td
          %button{ onclick: "CCPEVE.setDestination(#{cp[:trade_hub_cpp_id]})" }
            Set Destination

