.container-fluid

  - if @trade_hubs_names && @item_names
    .row
      .col-md-4
        = label_tag 'select_trade_hubs', 'Trade hubs'
        = select( 'select', 'trade_hubs', @trade_hubs_names, {include_blank: 'All'}, class: 'form-control' )
        = label_tag 'select_items', 'Items'
        = select( 'select', 'items', @item_names, {include_blank: 'All'}, class: 'form-control' )

  .row
    .col-md-12
      %h3
        Challenged prices

      %table.table.table-bordered
        %tr
          %th Trade hub
          %th Item
          %th.text-center Cost
          %th.text-center Min price
          %th.text-center Min price margin
          %th.text-center My price
          %th.text-center Diff
          %th{ colspan: 2 }
        - @compared_prices.each do |cp|
          %tr{ class: cycle( :odd, :even ) }
            %td.trade_hub_name=cp[:trade_hub_name]
            %td.item_name= link_to( cp[:eve_item_name], price_advices_show_item_detail_path( cp[:eve_item_id] ) )
            %td.text-right=print_isk( cp[:cost] )
            %td.text-right=print_isk( cp[:min_price] )
            %td.text-right=print_pcent( cp[:margin_pcent] )
            %td.text-right=print_isk( cp[:my_price] )
            %td.text-right
              = print_isk( ( cp[:min_price] - cp[:my_price] ) ) if cp[:min_price] && cp[:my_price] && cp[:min_price].class != String
            %td.text-center
              %button{ onclick: "CCPEVE.showMarketDetails(#{cp[:eve_item_cpp_id]})", class: 'btn btn-default' }
                Show Market Details
            %td.text-center
              %button{ onclick: "CCPEVE.setDestination(#{cp[:trade_hub_cpp_id]})" , class: 'btn btn-default' }
                Set Destination

