.order_advice_containers

  %h1
    = @item.name
    (
    = link_to( 'Eve central quicklook', "https://eve-central.com/home/quicklook.html?typeid=#{@item.cpp_eve_item_id}", :target => '_blank' )
    )

  %h2= "Item cost: #{print_isk(@item_cost)}"

  %table
    %tr
      %th Trade hub
      %th Current margin
      %th Current min price
      %th Avg margin
      %th Avg price
      %th Monthly regional volume
      - @region_array_sorted_keys.each_with_index do |cp, row_index|
        - region_array_data = @region_array[ cp[ 1 ] ][ :region_data ]
        - trade_hubs = @region_array[ cp[ 1 ] ][ :trades_hubs_data ]
        - region_printed = false
        - last_row = row_index == @region_array_sorted_keys.count - 1
        - trade_hubs.each do |trade_hub|
          - row_class = cycle( :odd, :even )
          %tr
            %td{ class: cell_classes( region_printed, :left, nil, row_class, last_row ) }= trade_hub[ :trade_hub ]
            %td{ class: cell_classes( region_printed, :middle, :right, row_class, last_row ) }= print_pcent( trade_hub[ :min_price_margin ] )
            %td{ class: cell_classes( region_printed, :middle, :right, row_class, last_row ) }= print_isk( trade_hub[ :min_price ] )
            - unless region_printed
              %td.cell_right_align.boxed_cell_middle{ rowspan: trade_hubs.count }= print_pcent( region_array_data[ :avg_price_margin ] )
              %td.cell_right_align.boxed_cell_middle{ rowspan: trade_hubs.count }= print_isk( region_array_data[ :avg_price ] )
              %td.cell_right_align.boxed_cell_right{ rowspan: trade_hubs.count }= print_volume( region_array_data[ :volume ] )
              - region_printed = true