.container
  %h3 Users log

  %br

  .row
    Accounts numbers :
    = @accounts_counts

  %br

  .row
    .col-md-6
      %table.table.table-striped
        %thead
          %tr
            %th
              User
            %th
              Total connections
        %tbody
          - @users_log.each do |log|
            %tr
              %td= log[ 'user' ]
              %td= log[ 'cnt' ]

    .col-md-6
      %table.table.table-striped
        %thead
          %tr
            %th
              User
            %th
              Last 7 days
        %tbody
          - @users_log_last_days.each do |log|
            %tr
              %td= log[ 'user' ]
              %td= log[ 'cnt' ]