%h1 Sales list

= link_to 'Station profit', station_sums_sale_records_path
|
= link_to 'Items profit', items_sums_sale_records_path
|
= link_to 'Stations and items profit', stations_items_sums_sale_records_path
|
= link_to 'Per clients profit', sale_records_sales_records_clients_path

%hr

%table

  %tr
    %th
      Station
    %th
      Item
    %th
      Price
    %th
      Profit
    %th
      Date

  - @records.each do |record|
    %tr
      %td=record.station.name
      %td=record.eve_item.name
      %td.cell_right_align=print_isk(record.total_sale_price)
      %td.cell_right_align=print_isk(record.total_sale_profit)
      %td=record.transaction_date_time

= will_paginate @records

