.container-fluid

  .my-4
    .form-inline
      - if @trade_hubs_names && @item_names
        .ml-3
          = label_tag 'select_trade_hubs', 'Trade hubs'
        .ml-3
          = select_tag( :select_trade_hubs, options_for_select( @trade_hubs_names, @selected_trade_hub_id ), :include_blank => true, class: 'form-control' )
        .ml-3
          = label_tag 'select_items', 'Items'
        .ml-3
          = select_tag( :select_items, options_for_select( @item_names, @selected_eve_item_id ), :include_blank => true, class: 'form-control' )

      .ml-3
        - if @user.download_orders_running
          Sales orders download is running. Please refresh in a while ...
        - else
          - if @data_available_in > 0
            = "Data cached. New data available in #{Time.at(@data_available_in).strftime('%Mm %Ss')}."
          - else
            = link_to 'Update orders', user_sale_orders_path, method: :put, class: 'btn btn-secondary'

  .row
    .col-md-12
      %h3
        Challenged prices

      %table.table.table-hover.table-sm
        %tr
          %th Trade hub
          %th Item
          %th.text-center Cost
          %th.text-center Min price
          %th.text-center Min price margin
          %th.text-center My price
          %th.text-center Diff
          -#%th{ colspan: 2 }
        - @compared_prices.each do |cp|
          %tr
            %td.trade_hub_name=cp.trade_hub_name
            %td.item_name= link_to( cp.eve_item_name, item_url( cp.eve_item_id ) )
            %td.text-right=print_isk( cp.cost )
            %td.text-right=print_isk( cp.min_price )
            %td.text-right{ class: challenged_prices_highlight_class_low_margin( cp.margin_pcent ) }=print_pcent( cp.margin_pcent )
            %td.text-right=print_isk( cp.my_price )
            %td.text-right{ class: challenged_prices_highlight_class_my_price_to_min_price_delta( cp.price_delta ) }
              = print_isk( cp.price_delta )

            -#%td.text-center
            -#  %button{ onclick: "CCPEVE.showMarketDetails(#{cp[:eve_item_cpp_id]})", class: 'btn btn-default' }
            -#    Show Market Details
            -#%td.text-center
            -#  %button{ onclick: "CCPEVE.setDestination(#{cp[:trade_hub_cpp_id]})" , class: 'btn btn-default' }
            -#    Set Destination

= hidden_field_tag :selected_trade_hub_id, @selected_trade_hub_id
= hidden_field_tag :selected_eve_item_id, @selected_eve_item_id