= form_for @character do |f|

  = render partial: 'shared/errors'

  .row
    .col
      .form-group
        = f.label :name
        = f.text_field :name, class: 'form-control', disabled: true

    .col
      .form-group
        = f.check_box :download_my_assets
        = f.label :download_my_assets, 'Download my components assets'

      .form-group
        = f.check_box :locked
        = f.label :locked

  .row
    .col-md-12.text-center
      .actions
        = f.submit 'Save', class: 'btn btn-default'