.container

  - if @required_quantities.empty?
    .my-3
      You have no items to buy. This can be because you didn't select a production station in the assets menu.

  %table.table
    %tr
      %th
        Component
      %th.text-right
        Quantity (click to add)
      %th.text-right
        Price
      %th.text-right
        Volume
    - @required_quantities.each do |rq|
      %tr{ class: cycle( :odd, :even ) }
        %td= link_to rq.name, item_path( rq.id )
        %td.text-right
          = print_volume( rq.qtt_to_buy.ceil )
        %td.text-right= print_isk rq.total_cost
        %td.text-right= print_volume rq.required_volume.ceil
        %td
          = link_to 'Add to prod', update_from_buy_orders_production_lists_path( eve_item_id: rq.id, trade_hub_id: @jita.id, quantity: rq.qtt_to_buy.round ), method: :put, class: 'btn btn-secondary btn-block'
        %td
          = link_to 'Zero parent(s)', update_from_buy_orders_production_lists_path( eve_item_id: rq.id, trade_hub_id: @jita.id, quantity: rq.qtt_to_buy.round ), method: :put, class: 'btn btn-secondary btn-block'

    %tr{ class: cycle( :odd, :even ) }
      %td
        %b
          Total
      %td
      %td.text-right
        %b= print_isk @total_isk
      %td.text-right
        %b= print_volume @total_volume