.container

  - if @required_quantities.empty?
    .my-3
      You have no items to buy. This can be because you didn't select a production station in the assets menu.

  %table.table
    %tr
      %th
        Component
      %th.text-right
        Quantity
      %th.text-right
        Price
      %th.text-right
        Volume
    - @required_quantities.each do |rq|
      %tr{ class: cycle( :odd, :even ) }
        %td= link_to rq.name, component_path( rq.id )
        %td.text-right= print_volume( rq.qtt_to_buy.round )
        %td.text-right= print_isk rq.total_cost
        %td.text-right= print_volume rq.required_volume.round

    %tr{ class: cycle( :odd, :even ) }
      %td
        %b
          Total
      %td
      %td.text-right
        %b= print_isk @total_isk
      %td.text-right
        %b= print_volume @total_volume