%h3 New Account
= form_tag '/auth/identity/register' do
  - if @identity && @identity.errors.any?
    %div{:class => 'error_messages'}
      %h2
        = pluralize(@identity.errors.count, 'error')
        prohibited this account from being saved:
      %ul
        - @identity.errors.full_messages.each do |msg|
          %li= msg
  %div{:class => 'field'}
    = label_tag :name
    %br/
    = text_field_tag :name, @identity.try(:name)
  %div{:class => 'field'}
    = label_tag :email
    %br/
    = text_field_tag :email, @identity.try(:email)
  %div{:class => 'field'}
    = label_tag :password
    %br/
    = password_field_tag :password
  %div{:class => 'field'}
    = label_tag :password_confirmation
    %br/
    = password_field_tag :password_confirmation
  %div{:class => 'actions'}= submit_tag 'Register'