%table.table.table-bordered.sortable
  %thead
    %tr
      %th Trade hub
      %th.text-right Current margin
      %th.text-right Current min price
      %th.text-right Avg margin
      %th.text-right Avg price
      %th.text-right Monthly regional volume

  %tbody
    - @item_prices.each do |ip|

      %tr
        %td= trade_hub_name_with_region( ip.trade_hub )

        %td.text-right= print_pcent( nil )
        %td.text-right= link_to( print_isk( ip.min_price ), market_data_trade_hub_detail_path( ip.eve_item_id, trade_hub_id: ip.trade_hub_id ) )

        %td.vcenter.text-right= print_pcent( nil )
        %td.vcenter.text-right= print_isk( nil )
        %td.vcenter.text-right= print_volume( nil )