.container

  = form_tag assets_path, method: :put do

    .row
      .col-md-6
        .field
          = label_tag :receiver_id
          = select_tag( :selected_station_id, options_for_select( @stations_select_data ), class: 'form-control' )

  %table.table
    %tr
      %th
        Station
      %th
        Asset
      %th.text-right
        Quantity

    - @assets.each do |asset|
      %tr{ class: cycle( :odd, :even ) }
        %td= asset.station_detail&.name
        %td= asset.blueprint_component.name
        %td.text-right= asset.quantity