%h3
  Sales details included in price computation for
  = link_to( @item.name, "https://eveinfo.com/item/#{@item.cpp_eve_item_id}", :target => '_blank' )
  = print_total_cost_for_items( @item )

%table.table
  %thead
    %tr
      %th.text-center Day
      %th.text-right Cost
      %th.text-right Volume
      %th.text-center Date
      %th.text-center Order id
  %tbody
    - @sales_final_detail.each do |sfd|
      %tr
        %td.text-center
          = sfd.day
        %td.text-right
          = print_isk sfd.price
        %td.text-right
          = print_volume sfd.volume.round
        %td.text-center
          = sfd.updated_at
        %td.text-center
          = sfd.order_id


= will_paginate @sales_final_detail