.container
  %h3
    Informations for
    = link_to( "#{@item.name}", "https://eveinfo.com/item/#{@item.cpp_eve_item_id}", :target => '_blank' )
    \-
    = link_to( print_total_cost_for_items( @item ), item_cost_path( @item.id ) )

  %table.table.table-bordered.sortable
    %thead
      %tr
        %th Prod. list
        %th Trade hub
        %th.text-left Current margin
        %th.text-left Current min price
        %th.text-left Avg margin
        %th.text-left Avg price
        %th.text-left Monthly regional volume

    %tbody
      - @item_prices.each do |ip|

        %tr

          %td.text-center= production_list_check_box( ip )

          %td= ip.trade_hub_name

          %td.text-right= print_pcent( ip.margin_percent )
          %td.text-right= link_to( print_isk( ip.min_price ), item_trade_hub_detail_path( ip.eve_item_id, trade_hub_id: ip.trade_hub_id ) )

          %td.vcenter.text-right= print_pcent( ip.avg_monthly_margin_percent )
          %td.vcenter.text-right= print_isk( ip.avg_price_month )
          %td.vcenter.text-right= print_volume( ip.vol_month )