.container
  %h3
    Informations for
    = link_to( "#{@item.name}", "http://games.chruker.dk/eve_online/item.php?type_id=#{@item.cpp_eve_item_id}", :target => '_blank' )
    \-
    = link_to( print_total_cost_for_items( @item ), item_cost_path( @item.id ) )

  %table.table.table-bordered.sortable
    %thead
      %tr
        %th Selected
        %th Prod. list
        %th Trade hub
        %th.text-left Current margin
        %th.text-left Current min price
        %th.text-left Avg margin
        %th.text-left Avg price
        %th.text-left Monthly regional volume

    %tbody
      - @item_prices.each_with_index do | ip, row_index|

        %tr

          %td= production_list_check_box( ip )
          %td= trade_hub_name_with_region( ip.trade_hub )

          %td.text-right{'data-value' => ( ip.min_price / ip.single_unit_cost - 1 if ip.min_price )}= print_pcent( ip.min_price / ip.single_unit_cost - 1 ) if ip.min_price
          %td.text-right{'data-value' => ( ip.min_price if ip.min_price )}= link_to( print_isk( ip.min_price ), item_trade_hub_detail_path( ip.eve_item_id, trade_hub_id: ip.trade_hub_id ) ) if ip.min_price

          %td.vcenter.text-right{'data-value' => ( ip.avg_price / ip.single_unit_cost - 1 if ip.avg_price )}= print_pcent( ip.avg_price / ip.single_unit_cost - 1 ) if ip.avg_price
          %td.vcenter.text-right{'data-value' => ( ip.avg_price if ip.avg_price )}= print_isk( ip.avg_price ) if ip.avg_price
          %td.vcenter.text-right{'data-value' => ( ip.vol_month if ip.vol_month )}= print_volume( ip.vol_month ) if ip.vol_month