.container
  %h3
    Informations for
    = link_to( @item.name, "http://games.chruker.dk/eve_online/item.php?type_id=#{@item.cpp_eve_item_id}", :target => '_blank' )

  %table.table.table-bordered.sortable
    %thead
      %tr
        %th Trade hub
        %th.text-center Current min price
        %th.text-center Available volume

    %tbody
      - @min_prices.each_with_index do | mp |

        %tr

          %td= trade_hub_name_with_region( mp.trade_hub )

          %td.text-right
            = print_isk( mp.min_price )
          %td.text-right
            = print_isk( mp.volume )