.container

  %h3
    Production cost estimation for
    = link_to( @item.name, "https://eveinfo.com/item/#{@item.cpp_eve_item_id}", :target => '_blank' )
    = print_total_cost_for_items( @item )

  - if @item.base_item
    = render partial: 'cost_for_basic_item'
  - else
    = render partial: 'cost_for_craftable_item'