.container

  .row.my-4
    .col-1
      = image_tag( "https://imageserver.eveonline.com/Type/#{@item.cpp_eve_item_id}_64.png" )
    .col
      %h3.mt-3
        = @item.name

  .row.my-4
    .col
      -# We don't show the min prices or productions costs here, only the link to allow a daily caching rather than an hourly one
      - if @item.base_item
        = link_to( 'Average cost', item_cost_path( @item ) )
      - else
        = link_to( 'Production cost', item_cost_path( @item ) )
    .col
      = link_to( 'Jita min price', item_trade_hub_detail_path( @item, trade_hub_id: @jita.id ) )
    .col
      = link_to( 'Markets details', item_market_overview_path( @item ) )


  .row.my-4
    .col
      = raw @item.description

  .row.my-4
    .col
      Volume :
      = @item.volume
      m2

    .col
      Volume packaged :
      = @item.packaged_volume
      m2

    .col
      Mass :
      = @item.mass
      kg

  .row.my-4
    .col
      More details at :
      = link_to( 'eveinfo.com', "https://eveinfo.com/item/#{@item.cpp_eve_item_id}", :target => '_blank' )

