.row.my-4
  .col-1
    = image_tag( "https://imageserver.eveonline.com/Type/#{@item.cpp_eve_item_id}_64.png" )
  .col-7
    %h3.mt-3
      = @item.name
  .col-3.mt-4
    = show_last_update

.row.my-4
  .col
    -# We don't show the min prices or productions costs here, only the link to allow a daily caching rather than an hourly one
    - if @item.base_item || !@item.blueprint
      = link_to( 'Average cost', production_cost_dailies_avg_prices_path( @item, @jita.id ) )
    - else
      = link_to( 'Production cost', production_cost_path( @item ) )
  .col
    = link_to( 'Jita min price', market_data_trade_hub_detail_path( @item, @jita.id ) )
  .col
    = link_to( 'Markets details', market_data_market_overview_path( @item ) )
  .col
    = link_to( 'Last month aggreagtions', production_cost_market_histories_path( @item ) )

.row.my-4
  .col
    = raw @item.description

.row.my-4
  .col
    Volume :
    = @item.volume
    m2

  .col
    Volume packaged :
    = @item.packaged_volume
    m2

  .col
    Mass :
    = @item.mass
    kg

.row.my-4
  .col
    More details at :
    = link_to( 'eveinfo.com', "https://eveinfo.com/item/#{@item.cpp_eve_item_id}", :target => '_blank' )

