= form_for @user_to_user_duplication_request do |f|
  - if @user_to_user_duplication_request.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user_to_user_duplication_request.errors.count, "error")} prohibited this user_to_user_duplication_request from being saved:"
      %ul
        - @user_to_user_duplication_request.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :reciever_id
    = f.number_field :reciever_id
  .field
    = f.label :duplication_type
    = f.number_field :duplication_type
  .actions
    = f.submit 'Save'
