.my-4
  .form-inline
    .mr-3
      = text_field_tag :filter, @filter, class: 'form-control'
    .mr-3
      = button_tag :filter, class: 'btn btn-secondary'
    .mr-3
      = link_to 'Clear list', clear_list_items_path, class: 'btn btn-secondary'

%table.table.table-hover.table-sm
  %thead
    %tr
      %th.text-center Selected
      %th.text-center Prod. list
      %th
        Name
      %th
      %th

  %tbody
    - @items.each do |item|
      %tr
        %td.text-center
          = check_box_tag "items[#{item.id}]", 1, @item_ids.include?( item.id ), class: :item_checkbox, item_id: item.id
        %td.text-center
          = production_list_check_box( item )
        %td= link_to( item.name, "https://eveinfo.com/item/#{item.cpp_eve_item_id}", :target => '_blank' )
        %td= link_to( 'Cost', item_cost_path( item ) )
        %td= link_to( 'Market', item_path( item ) )

= will_paginate @items