.container
  .my-4

    = form_tag save_list_items_path do
      .form-inline
        .mr-3
          = text_field_tag :description, '', class: 'form-control'
        .mr-3
          = button_tag 'Save current list', class: 'btn btn-secondary'

  %table.table.table-hover
    %thead
      %tr
        %th
          Description
        %th

    %tbody
      - @saved_lists.each do |saved_list|
        %tr
          %td= saved_list.description
          %td= link_to 'Restore', restore_list_items_path( saved_list ), class: 'btn btn-secondary'

  = will_paginate @saved_lists