.container

  = render partial: 'shared/errors'

  %h3 Select items you want to monitor

  .row
    .col-md-12.text-center
      .actions
        = link_to 'Select all items', select_all_items_choose_items_path, class: 'btn btn-default'

  = text_field_tag :filter, '', class: 'form-control'

  %hr

  #tree

= hidden_field_tag :items_tree, @json_tree
= hidden_field_tag :item_ids, @item_ids.to_json