.container

  %h3
    - if @message
      %span.choose_item_message
        = @message
      %br
      %br

    -#%span{ rel: :tooltip, title: :test }
    %span
      Type the name of items you want to monitor

  = form_tag '/choose_items' do
    -# doc is wrong, use 'data-append-to' => '#test_append' instead of append_to
    = autocomplete_field_tag :eve_item_name, '', autocomplete_eve_item_name_lowcase_choose_items_path, :id_element => '#choosen_item'
    = submit_tag 'Add the item(s)', class: 'btn btn-default'

    = hidden_field_tag 'choosen_item'