.container

  %h3 Check trade hubs you want to monitor

  = form_tag choose_trade_hubs_path(@user.id), method: :put do
    = submit_tag 'Update trade hubs list', class: 'btn btn-default'

    %hr

    .row
      - @inner_trade_hubs.in_groups(2, false).each do |group|
        .col-md-4
          %table.table.table-bordered
            %tbody
              - group.each do |trade_hub|
                %tr
                  %td= check_box_tag('trade_hubs_ids[]',trade_hub.id,@user_trade_hubs_ids.include?(trade_hub.id))
                  %td= trade_hub.name
                  %td= "(#{trade_hub.region.name})"

      .col-md-4
        %table.table.table-bordered
          %tbody
            - @outer_trade_hubs.each do |trade_hub|
              %tr
                %td= check_box_tag('trade_hubs_ids[]',trade_hub.id,@user_trade_hubs_ids.include?(trade_hub.id))
                %td= trade_hub.name
                %td= "(#{trade_hub.region.name})"

    = submit_tag 'Update trade hubs list', class: 'btn btn-default'