.container

  -#.alert.alert-warning.my-3
  -#  This tool is still in development, and screens may change. Final version about to come.

  %h1.pt-4.pb-1
    Eve industrial tool

  %h4.py-1
    Eve Online industrial could find some usefull tools :

  .row.py-4
    .col-12.col-md.text-center.mb-3
      = fa_icon 'money-check 5x'
      %br
      = link_to 'Example', item_path( 'nova-rage-rocket' )
      %br
      Information about items

    .col-12.col-md.text-center.mb-3
      = fa_icon 'search-dollar 5x'
      %br
      = link_to 'Example', production_cost_path( 'nova-rage-rocket' )
      %br
      Items production cost estimation

    .col-12.col-md.text-center.mb-3
      = fa_icon 'globe 5x'
      %br
      = link_to 'Example', production_cost_market_histories_path( 'nova-rage-rocket' )
      %br
      Regional summary prices and volumes about items

    .col-12.col-md.text-center.mb-3
      = fa_icon 'percent 5x'
      %br
      = link_to 'Example', market_data_market_overview_path( 'nova-rage-rocket' )
      %br
      Margin comparison between trade hubs for items

  -#
  -#  .col.text-center
  -#    -#= fa_icon 'box 5x'
  -#    = fa_icon 'box 5x'
  -#    %br
  -#    Assets handling for your production
  -#
  -#.row.py-4
  -#  .col.text-center
  -#    = fa_icon 'project-diagram 5x'
  -#    -#= fa_icon 'industry 5x'
  -#    %br
  -#    Blueprints modification for your production
  -#
  -#  .col.text-center
  -#    -#= fa_icon 'chart-line 5x'
  -#    = fa_icon 'tasks 5x'
  -#    %br
  -#    A trade tool that monitor your current orders
  -#
  -#  .col.text-center
  -#    = fa_icon 'search-dollar 5x'
  -#    -#= fa_icon 'calculator 5x'
  -#    %br
  -#    Easily lower your price to be the best
  -#
  -#  .col.text-center
  -#    = fa_icon 'balance-scale 5x'
  -#    -#= fa_icon 'calculator 5x'
  -#    %br
  -#    Don't lower prices beyond profit limit

  .text-center.py-4
    = button_to 'Sign in for custom results', '/auth/eve_online_sso', id: 'sign_in', method: :post, class: 'btn-lg btn-warning'
