%nav.navbar.navbar-expand-lg.navbar-light.bg-light

  %button.navbar-toggler{ type: 'button', 'data-toggle' => 'collapse', 'data-target' => '#mainMenu',
    'aria-controls' => 'mainMenu', 'aria-expanded' => 'false', 'aria-label' => 'Toggle navigation' }
    %span.navbar-toggler-icon

  .collapse.navbar-collapse#mainMenu

    - if current_user

      %ul.navbar-nav.mr-auto
        = dropdown_menu_block( 'Items' ) do
          = dropdown_sub_menu_link( 'All items list', edit_list_items_path )
          = dropdown_sub_menu_link( 'My items list', my_items_list_list_items_path )

        = simple_menu_link( 'Trade hubs', edit_choose_trade_hubs_path )

        = dropdown_menu_block( 'Earnings' ) do
          = dropdown_sub_menu_link( 'Buy orders', buy_orders_path )
          .dropdown-divider
          = dropdown_sub_menu_link( 'Weekly', price_advices_advice_prices_weekly_path )
          = dropdown_sub_menu_link( 'Immediate', price_advices_advice_prices_path )
          .dropdown-divider
          = dropdown_sub_menu_link( 'Empty places', price_advices_empty_places_path )

        = dropdown_menu_block( 'Production' ) do
          = dropdown_sub_menu_link( 'Production list', edit_production_lists_path( current_user ) )
          = dropdown_sub_menu_link( 'Components to buy', components_to_buy_path( current_user ) )
          = dropdown_sub_menu_link( 'Components to buy - raw', components_to_buy_show_raw_path, true )

        = dropdown_menu_block( 'Misc' ) do
          = dropdown_sub_menu_link( 'Share', user_to_user_duplication_requests_path )
          = dropdown_sub_menu_link( 'My sales orders list', user_sales_orders_path )
          = dropdown_sub_menu_link( 'My Assets', my_assets_path )
          = dropdown_sub_menu_link( 'My Blueprints', blueprints_path )

        = simple_menu_link( 'User', edit_users_path )

        -#= simple_menu_link( 'Help', helps_path )

        = simple_menu_link( 'Sign out', signout_path )

        -#%li= link_to "Sign out", signout_path, id: "sign_out"
        -#- if current_user.admin
        -#  %li
        -#    = link_to '#', class: 'dropdown-toggle', 'data-toggle' => 'dropdown', role: 'button', 'aria-haspopup' => true, 'aria-expanded' => false do
        -#      Admin
        -#      %span.caret
        -#    %ul.dropdown-menu
        -#      %li{ class: active_link( admin_tools_path ) }= link_to 'Raw datas', admin_tools_path
        -#      %li{ class: active_link( items_users_admin_tools_path ) }= link_to 'Items users', items_users_admin_tools_path
        -#      %li{ class: active_link( activity_admin_tools_path ) }= link_to 'Activity graph', activity_admin_tools_path, data: { turbolinks: false }
        -#      %li{ class: active_link( min_prices_timings_admin_tools_path ) }= link_to 'Min prices timings', min_prices_timings_admin_tools_path, data: { turbolinks: false }
        -#      %li{ class: active_link( min_prices_timings_overview_admin_tools_path ) }= link_to 'Min prices timings overveiw', min_prices_timings_overview_admin_tools_path, data: { turbolinks: false }
        -#      %li{ class: active_link( crest_price_history_update_admin_tools_path ) }= link_to 'Crest prices update timings', crest_price_history_update_admin_tools_path, data: { turbolinks: false }

    - else
      %ul.navbar-nav.mr-auto
        -#%li= link_to "Sign in", '/sessions/new', id: "sign_in"
        = simple_menu_link( 'Sign in', '/auth/eve_online_sso' )

    -#%ul.nav.navbar-nav
    -#  %li= link_to 'Help', '/help.pdf', target: '_blank'

    - if @current_user
      Logged as
      = @current_user.name
      \|
    version 0.1-CHANGE_TO_VERSION_NUMBER

