-##topbar
-#  #eve_logo
-#    Eve business server (Beta) - version 0.1-CHANGE_TO_VERSION_NUMBER

%nav.navbar.navbar-default
  .container-fluid
    -#.navbar-header
    -#  %a.navbar-brand{ href: '#' }
    -#    Eve business server (Beta) - version 0.2-CHANGE_TO_VERSION_NUMBER
    - if current_user
      %ul.nav.navbar-nav
        -#%li.dropdown

        %li
          = link_to '#', class: 'dropdown-toggle', 'data-toggle' => 'dropdown', role: 'button', 'aria-haspopup' => true, 'aria-expanded' => false do
            Items
            %span.caret
          %ul.dropdown-menu
            %li{ class: active_link( edit_choose_items_path ) }= link_to 'Items tree', edit_choose_items_path
            %li{ class: active_link( edit_list_items_path ) }= link_to 'All items list', edit_list_items_path
            %li{ class: active_link( my_items_list_list_items_path ) }= link_to 'My items list', my_items_list_list_items_path
            %li{ class: active_link( components_path ) }= link_to 'Components list', components_path

        %li{ class: active_link( edit_choose_trade_hubs_path ) }
          = link_to 'Trade hubs', edit_choose_trade_hubs_path

        %li
          = link_to '#', class: 'dropdown-toggle', 'data-toggle' => 'dropdown', role: 'button', 'aria-haspopup' => true, 'aria-expanded' => false do
            Earnings
            %span.caret
          %ul.dropdown-menu
            %li{ class: active_link( price_advices_advice_prices_path ) }= link_to 'Daily', price_advices_advice_prices_path
            %li{ class: active_link( price_advices_empty_places_path ) }= link_to 'Empty places', price_advices_empty_places_path
            -#%li{ class: active_link( price_advices_advice_prices_monthly_path ) }= link_to 'Monthly', price_advices_advice_prices_monthly_path

        %li
          = link_to '#', class: 'dropdown-toggle', 'data-toggle' => 'dropdown', role: 'button', 'aria-haspopup' => true, 'aria-expanded' => false do
            Production
            %span.caret
          %ul.dropdown-menu
            %li{ class: active_link( edit_production_list_path( @current_user ) ) }= link_to 'Production list', edit_production_list_path( @current_user )
            %li{ class: active_link( character_share_list_path( @current_user ) ) }= link_to 'Share production list', character_share_list_path( @current_user )
            %li{ class: active_link( character_accept_shared_list_path( @current_user ) ) }= link_to 'Accept shared production list', character_accept_shared_list_path( @current_user )
            %li{ class: active_link( update_shared_list_path ) }= link_to 'Update shared production list', update_shared_list_path

            %li.divider
            %li{ class: active_link( character_download_assets_path( @current_user ) ) }= link_to 'Download my assets', character_download_assets_path( @current_user )
            %li{ class: active_link( components_to_buy_path( @current_user ) ) }= link_to 'Components to buy', components_to_buy_path( @current_user )

        %li
          = link_to '#', class: 'dropdown-toggle', 'data-toggle' => 'dropdown', role: 'button', 'aria-haspopup' => true, 'aria-expanded' => false do
            Sale orders
            %span.caret
          %ul.dropdown-menu
            %li{ class: active_link( user_sale_orders_path ) }= link_to 'My orders list', user_sale_orders_path
            %li{ class: active_link( show_challenged_prices_path ) }= link_to 'Challenged prices', show_challenged_prices_path

            %li.divider
            %li{ class: active_link( download_orders_path ) }= link_to 'Download my orders', download_orders_path


        %li
          = link_to '#', class: 'dropdown-toggle', 'data-toggle' => 'dropdown', role: 'button', 'aria-haspopup' => true, 'aria-expanded' => false do
            User
            %span.caret
          %ul.dropdown-menu
            %li{ class: active_link( edit_users_path ) }= link_to 'Edit user options', edit_users_path
            %li{ class: active_link( edit_character_path( @current_user ) ) }= link_to 'Edit character options', edit_character_path( @current_user )
            -#%li{ class: active_link( edit_password_users_path ) }= link_to 'Change password', edit_password_users_path
        -#%li= link_to 'Help', '/help.pdf', target: '_blank'
        %li= link_to "Sign out", signout_path, id: "sign_out"
        - if current_user.admin
          %li
            = link_to '#', class: 'dropdown-toggle', 'data-toggle' => 'dropdown', role: 'button', 'aria-haspopup' => true, 'aria-expanded' => false do
              Admin
              %span.caret
            %ul.dropdown-menu
              %li{ class: active_link( admin_tools_path ) }= link_to 'Raw datas', admin_tools_path
              %li{ class: active_link( items_users_admin_tools_path ) }= link_to 'Items users', items_users_admin_tools_path
              %li{ class: active_link( activity_admin_tools_path ) }= link_to 'Activity graph', activity_admin_tools_path, data: { turbolinks: false }
              %li{ class: active_link( min_prices_timings_admin_tools_path ) }= link_to 'Min prices timings', min_prices_timings_admin_tools_path, data: { turbolinks: false }
              %li{ class: active_link( min_prices_timings_overview_admin_tools_path ) }= link_to 'Min prices timings overveiw', min_prices_timings_overview_admin_tools_path, data: { turbolinks: false }
              %li{ class: active_link( crest_price_history_update_admin_tools_path ) }= link_to 'Crest prices update timings', crest_price_history_update_admin_tools_path, data: { turbolinks: false }

    - else
      %ul.nav.navbar-nav
        %li= link_to "Sign in", '/sessions/new', id: "sign_in"
    %ul.nav.navbar-nav
      %li= link_to 'Help', '/help.pdf', target: '_blank'
    .navbar-collapse
      %p.nav.navbar-text.navbar-right.small
        version 0.5-CHANGE_TO_VERSION_NUMBER

