-##topbar
-#  #eve_logo
-#    Eve business server (Beta) - version 0.1-CHANGE_TO_VERSION_NUMBER

%nav.navbar.navbar-default
  %div{ class: 'container-fluid' }
    .navbar-header
      %a.navbar-brand{ href: '#' }
        Eve business server (Beta) - version 0.2-CHANGE_TO_VERSION_NUMBER
    - if current_user
      %ul.nav.navbar-nav
        %li.dropdown
          -# link_to 'Items', edit_choose_items_path do #,  do # edit_choose_items_path, do
            %span.caret
          = link_to '#', class: 'dropdown-toggle', 'data-toggle' => 'dropdown', role: 'button', 'aria-haspopup' => true, 'aria-expanded' => false do
            Items
            %span.caret
          %ul.dropdown-menu
            %li{ class: active_link( new_choose_items_path ) }= link_to 'Add', new_choose_items_path
            %li{ class: active_link( edit_choose_items_path ) }= link_to 'Edit', edit_choose_items_path
        %li{ class: active_link( edit_choose_trade_hubs_path ) }
          = link_to 'Trade hubs', edit_choose_trade_hubs_path

        %li
          = link_to '#', class: 'dropdown-toggle', 'data-toggle' => 'dropdown', role: 'button', 'aria-haspopup' => true, 'aria-expanded' => false do
            Earnings
            %span.caret
          %ul.dropdown-menu
            %li{ class: active_link( price_advices_advice_prices_path ) }= link_to 'Daily', price_advices_advice_prices_path
            %li{ class: active_link( price_advices_advice_prices_monthly_path ) }= link_to 'Monthly', price_advices_advice_prices_monthly_path
            %li{ class: active_link( price_advices_show_challenged_prices_path ) }= link_to 'Challenged prices', price_advices_show_challenged_prices_path if current_user.watch_my_prices
            %li{ class: active_link( shopping_baskets_path ) }= link_to 'Basket', shopping_baskets_path
        -#- if is_cedric_zuger
        -#  %li
        -#    = link_to 'Perso', '#'
        -#    %ul
        -#      %li= link_to 'Sales', sale_records_path
        -#      %li= link_to 'Best sales', jita_margins_path
        %li
          = link_to '#', class: 'dropdown-toggle', 'data-toggle' => 'dropdown', role: 'button', 'aria-haspopup' => true, 'aria-expanded' => false do
            User
            %span.caret
          %ul.dropdown-menu
            %li{ class: active_link( edit_user_path( :dummy ) ) }= link_to 'Edit', edit_user_path( :dummy )
            %li{ class: active_link( user_edit_password_path( :dummy ) ) }= link_to 'Change password', user_edit_password_path( :dummy )
        %li= link_to 'Help', '/help.pdf', target: '_blank'
        %li= link_to "Sign out", signout_path, id: "sign_out"
    - else
      %ul.nav.navbar-nav
        %li= link_to "Sign in", '/sessions/new', id: "sign_in"
    %ul.nav.navbar-nav
      %li= link_to 'Help', '/help.pdf', target: '_blank'
