!!!
%html{ lang: :en }
  %head
    %title
      = meta_title_helper

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true

    - if Rails.env.production?
      = render partial: 'layouts/google_analytics'

    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %meta{ charset: 'UTF-8' }
    %meta{ name: :description, content: meta_content }
    %meta{ name: :viewport, content: 'width=device-width', 'initial-scale' => 1.0 }

    %script{ type: 'application/ld+json' }
      = raw build_soe_data

  -#%body.d-flex.flex-column{ data:{ rails_env: Rails.env } }
  %body{ data:{ rails_env: Rails.env } }


    -##page-content

    .container-fluid

      = render partial: 'layouts/menu'
      = render partial: 'shared/errors'

      %div{ class: ( :container if @small_screen ) }

        = render partial: 'layouts/breadcrumb'

        - unless @no_title_header
          .my-3
            .row
              .col
                %h1.ml-3{ class: ( @meta_content ? 'title-with-question-mark' : nil ) }
                  = raw( @title ? @title : 'Title to be set' )
                = help_tooltip_from_meta_content if @meta_content

        .mx-3
          = yield

    // Footer code found here : https://startbootstrap.com/snippets/sticky-footer-flexbox/
    -#%footer#sticky-footer
    -#  .container.text-center
    -#    %span.text-muted
    -#      - if @last_update_type
    -#        = show_last_update
    -#        \-
    -#      version 0.1-CHANGE_TO_VERSION_NUMBER


  = hidden_field_tag :rails_mode, Rails.env