!!!
%html{ lang: :en }
  %head
    %title
      = meta_title_helper

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true

    - if Rails.env.production?
      = render partial: 'layouts/google_analytics'

    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %meta{ charset: 'UTF-8' }
    %meta{ name: :description, content: 'Eve business server is a tool that show potential earnings in Eve Online' }/

    %script{ type: 'application/ld+json' }
      :plain
        {
          "@context": "http://schema.org",
          "@type": "PeopleAudience",
          "suggestedGender": "male",
          "suggestedMaxAge": 19,
          "suggestedMinAge": 46,
        }

  %body.d-flex.flex-column{ data:{ rails_env: Rails.env } }

    #page-content

      .container-fluid

        = render partial: 'layouts/menu'
        = render partial: 'shared/errors'

        %div{ class: ( :container if @small_screen ) }
          - unless @no_title_header
            .my-3
              .row
                .col-8
                  %h2.ml-3
                    = @title ? @title : 'Title to be set'

          .mx-3
            = yield

    // Footer code found here : https://startbootstrap.com/snippets/sticky-footer-flexbox/
    %footer#sticky-footer
      .container.text-center
        %span.text-muted
          = show_last_update


  = hidden_field_tag :rails_mode, Rails.env