!!!
%html
  %head
    %title EveBusinessServer (Beta)
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    - if Rails.env.production?
      = render partial: 'google_analytics'

    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %meta{ charset: 'UTF-8' }
    %meta{ name: :description, content: 'Eve business server is a tool that show potential earnings in Eve Online' }/
  %body{ data:{ rails_env: Rails.env } }
    .container-fluid
      = render partial: 'layouts/menu'
      = render partial: 'shared/errors'
      #error_area
      = yield

= hidden_field_tag :rails_mode, Rails.env