!!!
%html
  %head
    %title EveBusinessServer (Beta)
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    - if Rails.env.production?
      = render partial: 'layouts/google_analytics'

    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %meta{ charset: 'UTF-8' }
    %meta{ name: :description, content: 'Eve business server is a tool that show potential earnings in Eve Online' }/


  %body{ data:{ rails_env: Rails.env } }

    %div{ class: ( @wide_screen ? 'container-fluid' : 'container' ) }

      = render partial: 'layouts/menu'
      = render partial: 'shared/errors'

      .my-4
        .row
          .col-8
            = @title ? @title : 'Title to be set'
          .col-4
            = show_last_update

      = yield

= hidden_field_tag :rails_mode, Rails.env